<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Math Service</title>
</head>
<body>
    <h1>Math Service</h1>

    <h2>Addition</h2>
    <form action="/add" method="post">
        <input type="text" id="augend" name="augend" />
        <input type="text" id="addend" name="addend" />
        <input type="submit" value="Add" />
    </form>
    <div id="addResult"></div>

    <h2>Division</h2>
    <form action="/divide" method="post">
        <input type="text" id="dividend" name="dividend" />
        <input type="text" id="divisor" name="divisor" />
        <input type="submit" value="Divide" />
    </form>
    <div id="divideResult"></div>
   
    <h2>Intersection</h2>
    <form action="/intersect" method="post">

        <label for="set1">Set 1 (comma-separated)</label>
        <input type="text" id="set1" name="set1" />

        <label for="set2">Set 2 (comma-separated)</label>
        <input type="text" id="set2" name="set2" />

        <input type="submit" value="Intersect" />
    </form>
    <div id="intersectResult"></div>

    <h2>Max</h2>
    <form action="/max" method="post">
        <label for="maxnumbers">Set (comma-separated)</label>
        <input type="text" id="maxnumbers" name="maxnumbers" />
        <input type="submit" value="Max" />
    </form>
    <div id="maxResult"></div>

    <h2>Min</h2>
    <form action="/min" method="post">
        <label for="minnumbers">Set (comma-separated)</label>
        <input type="text" id="minnumbers" name="minnumbers" />
        <input type="submit" value="Min" />
    </form>
    <div id="minResult"></div>

    <h2>Multiplication</h2>
    <form action="/multiply" method="post">
        <input type="text" id="multiplicand" name="multiplicand" />
        <input type="text" id="multiplier" name="multiplier" />
        <input type="submit" value="Multiply" />
    </form>
    <div id="multiplyResult"></div>

    <script src="/js/scripts.js"></script>
</body>
</html>